body{
  margin: 0;
  box-sizing: border-box;

}
.header{
  height: 500px;
  background-color: #1f2937;
  margin-top: 0;
  box-sizing: border-box;
}
.header ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 80%;
  

 }

.logo{
  margin-right: auto;
  font-weight: bold;
  font-size:30px;
  padding-left: 120px;
  margin-left: 100px;

}

.two{
  font-size: 20px;
}

 .four{
  padding-right: 120px;
 }

 .paragraph{
   font-weight:bold;
   font-size: 80px;
   width:600px;
   color: white;
   margin-left: 220px;
   margin-bottom: 0;
 }
 .text{
   font-size: 20px;
   font-weight: normal;
   color: white;
   line-height: 28px;
   display: block;
 }
 img{
   width: 560px;
   height: 280px;
   margin-top: 80px;
 }
.img-div{
  display: flex;
  gap: 80px;

}

button{
  Margin-left: 220px;
  background-color: #3882f6;
  padding: 5px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 19px;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid white;
}

.headerText{
  box-sizing: border-box;
  margin-right: 250px;
  width: 100%;
  text-align: center;
  font-size:35px;
  display: block;
  font-weight: bold;
  height: auto;
  color: #1f2937;
  padding: 20px;

}

.caption{
  display: flex;
  flex-direction:column;
  gap: 30px;
  width: 250px;
  height: auto;
  margin-top:0;
  justify-content: flex-start;
  
  
}

.illustration {
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 20px;
  width: auto;
  height: 280px;
  
}
.illustration-container{
  display: flex;
  width: auto;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 40px;
  
}

.picText{
  display: block;
  margin: 0;

}
.testimonial{
  text-align: center;
  width: auto;
  padding:90px;
  height: 150px;
  background-color: grey;
}
.quote{
  
  font-size: 30px;
}
.author{
  display: block;
  text-align: ;
  font-weight: bold;
  font-size: 25px;
}

.footContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 90px;

}

.footer{
  display: flex;
  background-color: #3882f6;
  color: white;
  width: auto;
  gap: 80px;
  padding: 25px;
  
}
.action{
display: block;
}

.conclusion{
  background-color: #1f2937;
  width: 100%;
  height: auto;
 box-sizing: border-box;
 text-align: center;
 padding: 40px;
}

.end{
  color: white;
}
